@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

/* ImageGallery {
  max-height:calc(60vh - 80px)!important;
} */

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: "Montserrat";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (min-width:320px)  { 
  html {
    width: 100%;
    height: 100%; 
    margin: 0;
    overflow-x: hidden;
    position: absolute; 
    top: 0; 
    left: 0;
  }
  /* smartphones, iPhone, portrait 480x320 phones */ 
  .heading h1 {
    font-size: 1.5rem;
  }

}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
	background-image: url("../public/raychan.jpg") !important;
	background-size: 100%;
}

.ending {
	background-image: url("../public/guizhou-end.png") !important;
	background-size: 100%;
}

.heading h1 {
	/* font-size: 10rem; */
  font-size: calc(50px + 2.5vmin);
  color: white;
  font-weight: bold;
  opacity: 80%;
	font-family: "Montserrat", sans-serif;
}
.App-header p {
	font-size: 2rem;
  /* font-size: calc(40px + 2vmin); */
  color: white;
}

.next {
  padding: 30px;
  scroll-behavior: smooth;
  filter: invert(97%) sepia(2%) saturate(1504%) hue-rotate(180deg) brightness(97%) contrast(91%);  /* background-color: white;  https://codepen.io/sosuke/pen/Pjoqqp */
  border-radius: 100px;
  /* transition-duration: 1.5s;
  -moz-transition-duration:1.5s; 
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s; */
  transition: top ease 0.5s;
  top: 0;
  /* padding: 5px; */
  /* background-opacity: 60%; */
}
.next:hover {
  /* filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(310deg) brightness(119%) contrast(101%); */
  /* filter: invert(0%) sepia(98%) saturate(0%) hue-rotate(13deg) brightness(98%) contrast(105%); */
  filter: invert(74%) sepia(45%) saturate(3145%) hue-rotate(359deg) brightness(102%) contrast(105%);
  top: -10px;

}

.section {
  /* background-color: #282c34; */
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
}

.section2 {
  align-items: top;
  justify-content: top;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sec-head {
  color: white;
  margin-top:3rem;
  font-size: 4rem;
  font-family: "Aeonik Pro", "Montserrat";
  padding: 20px;
}

.faq-row-wrapper {
  margin: 0 calc(10vw - 10px);
}

.intros {
  text-align: left;
  margin: 4rem calc(10vw) 4rem calc(10vw);
  font-family: "Hiragino Sans GB", "Source Han Sans ", "Noto Sans 5C", "SimHei", "PingFang SC", "Noto Sans";
}

.intros h1 {
  padding-top: 2.5rem;
}

.intros p {
  font-size: 1.1rem;
}

.faq-row-wrapper .faq-title .faq-body .faq-row .row-title .row-content .row-content-text{
  text-align: left !important;
  align-items: left !important;
  font-family: "Hiragino Sans GB", "Source Han Sans ", "Noto Sans 5C", "SimHei", "PingFang SC", "Noto Sans";
}

.conclusion {
  background-color: rgba(0, 0, 0, 0.6);
  /* background-opacity: 0.7; */
  padding: 20px;
  border-radius: 30px;
}